<article
        class="article-summary"
        itemscope
        itemtype="http://schema.org/Article"
>
    {% if image is defined %}
        {% include '@WexampleSymfonyDesignSystemBundle/partials/shapes/illustration.html.twig' with {
            url: image,
            alt: title,
            href: url,
        } %}
    {% endif %}
    <div class="article-summary--content">
        <a href="{{ url }}" itemprop="url">
            <h2>{{ title }}</h2>
            <div class="article-summary--body">{{ body }}</div>
        </a>
        <div class="inline-info">
            {% for info_item in info %}
                <div class="info">{{ info_item }}</div>
            {% endfor %}
        </div>
    </div>
</article>