{% if breadcrumb is defined and breadcrumb|length %}
    <nav aria-label="breadcrumb" class="breadcrumb">
        <ul>
            {% for crumb in breadcrumb %}
                <li {% if loop.last %} aria-current="page"{% endif %}>
                    {% if not loop.first %}
                        <span class="breadcrumb--separator" aria-hidden="true">&raquo;</span>
                    {% endif %}
                    {% if crumb.url and not loop.last %}
                        <a href="{{ crumb.url }}">{{ crumb.label }}</a>
                    {% else %}
                        <span>{{ crumb.label }}</span>
                    {% endif %}
                </li>
            {% endfor %}
        </ul>
    </nav>
{% endif %}