$global-color-scheme-name: 'dark' !default;

@forward '../mixins/global.color-scheme.dark';
@use '../mixins/global.color-scheme.dark' as *;

$color-block-text: $color-default-text;
$color-block-background: #111;

body.usage-color-scheme-#{$global-color-scheme-name} .block,
body.usage-color-scheme-default .color-scheme-dark.block {
  background: $color-block-background;
  color: $color-block-text;
}

