@use 'sass:math';

@use '../mixins/block' as block;

.block {
  margin: block.$block-spacing;
  border-radius: block.$block-border-radius;
  padding: block.$block-padding-y block.$block-padding-x;
}

.blocks {
  display: flex;
  width: 100%;

  &.blocks-no-stretch {
    align-items: flex-start;
  }

  &.blocks-side-column-left > .block:first-of-type,
  &.blocks-side-column-left > .blocks-col:first-of-type,
  &.blocks-side-column-right > .block:last-of-type,
  &.blocks-side-column-right > .blocks-col:last-of-type {
    flex-basis: block.$blocks-side-column-width;
    width: block.$blocks-side-column-width;
  }

  .block {
    width: calc(100% - #{block.$block-spacing * 2});
    overflow: visible;
    // Prevent white-spaces nowrap to change widths.
    min-width: 0;
  }

  .blocks-col {
    width: 100%;
    padding-left: math.div(block.$block-spacing, 2);
    padding-right: math.div(block.$block-spacing, 2);
    min-width: 0;

    & > .block {
      margin-left: 0;
      margin-right: 0;
      width: auto;
    }

    &:first-of-type {
      padding-left: block.$block-spacing;
    }

    &:last-of-type {
      padding-right: block.$block-spacing;
    }
  }
}
