@use '../mixins/list' as list;

.breadcrumb {
  ul {
    @include list.no-style-list;
    display: flex;
    align-items: center;
    margin-bottom: 1rem;

    li {
      display: flex;
      align-items: center;

      a:hover {
        text-decoration: underline;
      }
    }

    li:last-of-type {
      font-weight: bold;
    }
  }

  &--separator {
    margin: 0 0.5rem;
    color: #666;
    font-weight: bold;
  }
}