@use '../mixins/margins-default' as margins;

.card {
  display: flex;
  flex-direction: column;
  overflow: hidden;
  margin: margins.$margins-default-block-spacing calc(margins.$margins-default-block-spacing / 2);

  .card--image {
    background: rgba(0, 0, 0, .1);
  }

  .card--body {
    flex: 1;
  }

  .card--action {
    text-align: center;
    margin: 1rem;
    display: flex;
    justify-content: center;
    gap: 1rem;
  }
}
