.card {
  border-radius: .5rem;

  .card--header,
  .card--body,
  .card--footer {
    padding: 1rem;
  }

  .card--action {
    margin: 1rem;
    display: flex;
    justify-content: center;
    gap: 1rem;
  }
}
