$global-color-scheme-name: 'light' !default;

@use '../mixins/global.color-scheme.light' as *;

$color-card-text: $color-default-text;
$color-card-background: #DDD !default;

body.usage-color-scheme-#{$global-color-scheme-name} .card,
body.usage-color-scheme-default .usage-color-scheme-light.card {
  background: $color-card-background;
  color: $color-card-text;
}
