@use '../mixins/margins-default' as margins;
@use '../mixins/colors-grayscales' as colors-grayscales;

.code {
  margin: 1rem 0 2rem;

  pre {
    background-color: colors-grayscales.$color-gray-darker;
    color: #fff;
    padding: 1rem;
    border-radius: 4px;
    overflow-x: auto;

    code {
      font-family: monospace;
      line-height: 1.5;
    }
  }
}