@use '../mixins/global' as global;

.container-medium {
  max-width: 60rem;
  margin: 0 auto;
}

.container-large {
  margin: 0 2rem;
}

.container-center {
  @include global.full-parent-size;

  display: flex;
  justify-content: center;
  align-items: center;
}