@use '../mixins/colors-grayscales' as colors-grayscales;

.illustration-cover {
  margin: 0;
  background-color: colors-grayscales.$color-gray-light;
  font-weight: bold;
  position: relative;
  width: 100%;
  aspect-ratio: 16/9;
  overflow: hidden;

  img {
    position: absolute;
    inset: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
    display: block;
  }
}