$global-color-scheme-name: 'dark' !default;

body.usage-color-scheme-#{$global-color-scheme-name} .inline-info,
body.usage-color-scheme-default .usage-color-scheme-dark.inline-info {
  background: rgba(20, 20, 20, 0.7);
  color: lavenderblush;
}
