@use '../mixins/margins-default' as margins;

.inline-info {
  @import 'block';

  align-items: center;
  display: flex;
  padding: margins.$margins-default-block-spacing-half margins.$margins-default-block-spacing;

  & > div.info {
    padding: 0 0 0 margins.$margins-default-block-spacing;

    &:first-child {
      padding-left: 0;
    }

    &:last-child {
      padding-right: 0;
    }
  }
}
