@use "sass:map";
@use "../mixins/colors-messages" as colors-messages;
@use "../mixins/margins-default" as margins;

@mixin message-variant($type) {
  $color: map.get(colors-messages.$colors-messages, $type);

  @if $color == null {
    @error "Unknown message type “#{$type}”";
  }

  background-color: rgba($color, colors-messages.$color-bg-opacity);
  color: darken($color, 30);
}

.message {
  padding: margins.$margins-default-block-spacing;
  margin: margins.$margins-default-block-spacing;
}

@each $type, $_ in colors-messages.$colors-messages {
  .message-#{$type} {
    @extend .message;
    @include message-variant($type);
  }
}

