.layout-modal {
  margin: 0 4rem;
  max-width: 50rem;
}

.modal-header {
  h2 {
    font-size: 1.6rem;
    padding: 1rem 1.3rem;
    margin: 0;
  }

  .modal-close a {
    padding: 1.1rem 1.1rem 0;
  }
}

.modal-body {
  padding: 1.5rem;
}
