@use '../mixins/global';
@use '../mixins/reset';

.tabs {
  @include reset.reset-spacing;

  display: flex;
  flex-wrap: wrap;
  justify-content: center;

  a.tab {
    @include global.text-ellipsis;
    padding: 0.9rem 1.7rem;
  }

  &.tabs-vertical {
    a {
      width: 100%;
    }

    a.tab.active {
      border: 0;
      padding-bottom: 0.9rem;
    }
  }
}

.tab-content {
  display: none;

  &.tab-content-active {
    display: initial;
  }
}
