@use './menu';
@use './button';
@use '../mixins/margins-default' as margins;

// When used as main side menu in a page.
.page-side-menu {
  width: 16rem;
}

.menu {
  .menu-separator {
    margin: .5rem 1rem;
    color: rgba(0, 0, 0, .5);
  }

  li.menu-item > a {
    @extend .button;

    .icon {
      margin-right: margins.$margins-default-separator-spacing;
    }
  }
}