$block-background-color: #fff !default;
$block-border-radius: 0.8rem !default;
$block-padding-x: 1rem !default;
$block-padding-y: 1rem !default;
$block-shadow: 0 0.1rem 0.1rem rgba(0, 0, 0, 0.15), 0 0.04rem 0.8rem rgba(0, 0, 0, 0.09) !default;
$block-spacing: 0.5em !default;

// Blocks.
$blocks-side-column-width: 16rem !default;
