$color-gray-lighter: #F5F5F5;
$color-gray-lighten: #EEE;
$color-gray-light: #DDD;
$color-gray-clear: #CCC;
$color-gray-base: #BBB;
$color-gray-medium: #888;
$color-gray-semi-dark: #555;
$color-gray-dark: #333;
$color-gray-darker: #111;
