@use '../css/mixins/global.color-scheme.light' as *;
@use '../css/mixins/shadow' as shadow;

.modal .layout-modal {
  background-color: $color-default-background;
  box-shadow: shadow.shadow-soft($color-default-background-invert);
}
