{%- set overlay_id = overlay_id|default('overlay-layer') -%}
{%- set overlay_class = overlay_class|default('page-overlay-full') -%}

<div class="{{ overlay_class }}" id="{{ overlay_id }}" hidden="hidden"></div>
