@use '../css/mixins/global' as global;

.explorer-item {
  cursor: pointer;

  &.selected {
    & > .explorer-item-label {
      background: rgba(global.$color-info, 0.5);
    }
  }

  .explorer-item-label {
    display: flex;
    width: 100%;

    .explorer-item-icon {
      padding: 0.2rem;
    }

    .explorer-item-name {
      @include global.text-ellipsis;
      padding: 0.2rem;
    }
  }
}
