@use '../css/mixins/global' as global;

.develop-explorer-item {
  cursor: pointer;

  &--selected > &__label {
    background: rgba(global.$color-info, 0.3);
  }

  &__label {
    display: flex;
    align-items: center;
    padding: 1px 4px;

    &:hover {
      background: rgba(255, 255, 255, 0.05);
    }
  }

  &__indent {
    flex-shrink: 0;
    width: 1rem;
  }

  &__icon {
    flex-shrink: 0;
    font-size: 12px;
    width: 20px;
    text-align: center;
    opacity: 0.7;
  }

  &__name {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    padding-left: 4px;
  }
}
