@use '../mixins/global' as global;
@use '../mixins/global.color-scheme.dark' as *;

.usage-color-scheme-dark {
  background: $color-default-background;
}

.usage-color-scheme-dark,
.usage-color-scheme-default .usage-color-scheme-dark {
  color: $color-default-text;

  svg.icon {
    fill: $color-default-text;
  }

  a {
    color: $color-default-link;
  }

  #{global.$selector-title-all} {
    color: $color-default-title;
  }
}
