
// Base shapes.
@use '../../css/shapes/layout-reset-modern';

a {
  text-decoration: none;
}

/* TODO migrate */
#prompt-application-message {
  background: red;
  color: black;
  position: fixed;
  top: 0;
  padding: 2em;
  box-sizing: border-box;
  $width: 10em;
  width: $width;
  margin-left: calc((100% - $width) / 2);
  margin-right: calc((100% - $width) / 2);
  border-radius: 1em;
  margin-top: 1em;
  display: none;

  &.visible {
    display: block;
  }
}