{%- extends adaptive_response_rendering_base_path(render_pass) -%}

{%- block layout_config -%}
    {{- render_pass.layoutRenderNode.setDefaultView(_self) -}}
    {{ parent() }}
{%- endblock -%}

{%- block layout -%}
    {{ parent() }}
    <div class="page-overlay"></div>
    <div class="page-overlay-full"></div>
{%- endblock -%}
